body {
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  font-family: 'Outfit', sans-serif;
  justify-content: center;
  height: 100vh;
}

.concluido {
  width: 100px;
}
